
.center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}

.dashboard{
    
    margin-left: 0%;
}

.dashboard-item{
    text-decoration: none !important;
    color:inherit;
    padding-right:20px;
    font-weight: bold;
    font-size: large;
    
}