<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'storage'%}">Go back</a>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" id="data_file" name="docfile">
        <label for="description">Description:</label>
        <textarea name="description"></textarea>
        <input type="submit">
      </form>
</body>
</html>